[
	(
	    board_builder: (
	        healthy: 38,
	        infected1: 2,
	        infected2: 0,
	        infected3: 0,
	        sick: 0,
	        inmune: 60,
	        buildings: [(5,4),(2,2),(4,4),(2,2),(4,3),(4,2),(2,2),(4,2)],
	        spreding: OneVeryNear, // Everyone, One, OneNear or OneVeryNear
	    ),
	    report_plan: (
	        num_simulations: 1000,
	        days: 10,
	    ),
	),
	(
	    board_builder: (
	        healthy: 38,
	        infected1: 2,
	        infected2: 0,
	        infected3: 0,
	        sick: 0,
	        inmune: 60,
	        buildings: [(2,2),(4,4),(2,2),(2,2),(4,2)],
	        spreding: OneVeryNear, // Everyone, One, OneNear or OneVeryNear
	    ),
	    report_plan: (
	        num_simulations: 1000,
	        days: 10,
	    ),
	),
	(
	    board_builder: (
	        healthy: 38,
	        infected1: 2,
	        infected2: 0,
	        infected3: 0,
	        sick: 0,
	        inmune: 60,
	        buildings: [(2,2),(2,2),(2,2)],
	        spreding: OneVeryNear, // Everyone, One, OneNear or OneVeryNear
	    ),
	    report_plan: (
	        num_simulations: 1000,
	        days: 10,
	    ),
	),

]