#actions {
    margin-top: 12px;
    margin-bottom: 12px;
}
#SimulateButton {
    margin-left: 6px;
}
#SimulateManyButton {
    margin-left: 6px;
}
#output {
    min-height: 240px;
}
label:hover {
  background-color: lightgray;
}
button {
    padding: 1em;
}
button:hover {
    padding: 0em;
    border: 1em solid lightgray;
}
